body {
    margin: 0px;
}

#contacte{
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0px;
    background: lightskyblue;
}
#productes{
    padding-bottom: 40px;
}
.text-center{
    padding: 10px;
}